<ul>
 <% product.productrelations.each do |relation| %>
   <% subproduct = relation.sub %>
   <li><% ausgabe = subproduct.name + " (" + relation.amount.to_s + ")"%></li>
   <%= link_to ausgabe, subproduct %>
   <% unless subproduct.subs.empty? %> 
     <%= render "quantity", :product => subproduct %>
   <% end %>
 <% end %>
</ul>
